.coach-card-container {
	padding: 20px;
	margin: 10px auto 20px;
	border: 1px solid black;
	width: 75%;
	background-color: #427efe;
}

.data {
	display: flex;
	flex-direction: row;
	text-align: left;
	max-width: 100px;
	background-color: red;
}

.data2 {
	display: flex;
	flex-direction: row;
	text-align: left;
	max-width: 100px;
	background-color: green;
}

.data3 {
	display: flex;
	flex-direction: row;
	text-align: left;
	max-width: 100px;
	background-color: blue;
}

.data4 {
	display: flex;
	flex-direction: row;
	text-align: left;
	max-width: 100px;
	background-color: yellow;
}

.data5 {
	display: flex;
	flex-direction: row;
	text-align: left;
	max-width: 100px;
	background-color: purple;
}

.content {
	display: flex;
	flex-direction: row;
}

.name {
	font-weight: 700;
}

.margining {
	padding-left: 10px;
}
